@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	font-family: 'Open Sans', sans-serif;	
	font-size: 15.3333px;  /*1em = 16px*/
	line-height: 20.25px;
	font-weight: 400;
	color:rgba(0,0,0,.87);
}

.display-1 {
	font-size: 112px;
	line-height: 140px;
}

.display-2 {
	font-size: 56px;
	line-height: 70px;
}

.display-3 {
	font-size: 45.5px;
	line-height: 56.875px;
}

.title-1 {
	font-size: 32px;
	line-height: 38.8333px;
}

.title-2 {
	font-size: 23.3333px;
	line-height: 30px;
}

.title-3 {
	font-size: 20px;
	line-height: 24.5px;
}

.subtitle {
	font-size: 16.6667px;
	line-height: 22.25px;
}

.body-1, .body-2 {
	font-size: 15.3333px;
}

.body-1 {
	line-height: 20.375px;
	font-weight: 700;
}

.body-2 {
	line-height: 21.5833px;
}

.subhead {
	font-size: 15px;
	line-height: 20px;
}

.menu, .BUTTON {
	font-size: 14px;
	line-height: 17.5px;
}

.footnote {
	font-size: 13px;
	line-height: 18px;
} 

.caption-1 {
	font-size: 12.3333px;
	line-height: 16.125px;
}

.caption-2 {
	font-size: 11.6667px;
	line-height: 14px;
}

.display-1, .title-1 {
	font-weight: 300;
}

.title-3, .body-2, .BUTTON, .menu {
	font-weight: 600;
}

.display-1, .display-2, .display-3, .title-1, .caption-1, .caption-2 {
	color:rgba(0,0,0,.54);
}